dd4t-test-spring-web/src/main/resources/8.1.0/schemas/cd_deployer_conf.xsd

<?xml version="1.0" encoding="UTF-8"?><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
    <xsd:element name="Deployer" id="cd_deployer_confN10006">
        <xsd:annotation>
            <xsd:documentation>
                <p>Root of this configuration file.</p>
            </xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="Monitoring" minOccurs="0" id="cd_deployer_confN10016">
                    <xsd:annotation>
                        <xsd:documentation>
                            <p>Configuration of a client for the Monitoring service, causing the Content Deployer to report its status to a Monitoring Agent.</p>
                        </xsd:documentation>
                    </xsd:annotation>
                    <xsd:complexType>
                        <xsd:sequence>
                            <xsd:element name="ServiceType" minOccurs="0" maxOccurs="1" id="cd_deployer_confN10027">
                                <xsd:annotation>
                                    <xsd:documentation>
                                        <p>A name for this service. If left empty this defaults to
                                            <code>Deployer</code>
                                        </p>
                                    </xsd:documentation>
                                </xsd:annotation>
                            </xsd:element>
                            <xsd:element name="ServiceInstance" minOccurs="0" maxOccurs="1" id="cd_deployer_confN10039">
                                <xsd:annotation>
                                    <xsd:documentation>
                                        <p>If there are multiple instances of the same type of service running on this machine, a unique identifier for the specific instance you intend to monitor. This value is set automatically.</p>
                                    </xsd:documentation>
                                </xsd:annotation>
                            </xsd:element>
                            <xsd:element name="AgentPort" minOccurs="0" maxOccurs="1" id="cd_deployer_confN10048">
                                <xsd:annotation>
                                    <xsd:documentation>
                                        <p>The port on which the Monitoring Agent can be reached.</p>
                                    </xsd:documentation>
                                </xsd:annotation>
                            </xsd:element>
                            <xsd:element name="Interval" minOccurs="0" maxOccurs="1" id="cd_deployer_confN10057">
                                <xsd:annotation>
                                    <xsd:documentation>
                                        <p>The interval the Monitoring Agent waits before checking for another heartbeat.</p>
                                    </xsd:documentation>
                                </xsd:annotation>
                            </xsd:element>
                            <xsd:element name="MaximumThreads" minOccurs="0" maxOccurs="1" id="cd_deployer_confN10066">
                                <xsd:annotation>
                                    <xsd:documentation>
                                        <p>The maximum number of threads to be monitored.</p>
                                    </xsd:documentation>
                                </xsd:annotation>
                            </xsd:element>
                            <xsd:element name="GenerateHeartbeat" minOccurs="0" maxOccurs="1" id="cd_deployer_confN10075">
                                <xsd:annotation>
                                    <xsd:documentation>
                                        <p>A boolean indicating whether this service generates heartbeats or not.</p>
                                    </xsd:documentation>
                                </xsd:annotation>
                            </xsd:element>
                        </xsd:sequence>
                    </xsd:complexType>
                </xsd:element>
                <xsd:element name="Processors" id="cd_deployer_confN10087">
                    <xsd:annotation>
                        <xsd:documentation>
                            <p>Defines the Processors used by this Content Deployer.</p>
                            <p>When the Receiver receives an incoming Transport Package, it passes the Transport Package to the Content Deployer. The Content Deployer then executes one of its two Processors:</p>
                            <ul>
                                <li>If the content was sent with an instruction to publish this content, the Content Deployer executes the Processor with its Action attribute set to
                                    <code>Deploy</code>. This normally means that the Content Deployer sends the content to the Content Broker to store it in the Content Data Store.
                                </li>
                                <li>If the content was sent with an instruction to unpublish this content, the Content Deployer executes the Processor with its Action attribute set to
                                    <code>Undeploy</code>. This normally means that the Content Deployer instructs the Content Broker to remove this content from the Content Data Store.
                                </li>
                            </ul>
                            <p>You can change the default deployment or undeployment behavior by making a custom Processor or custom Module.</p>
                        </xsd:documentation>
                    </xsd:annotation>
                    <xsd:complexType>
                        <xsd:sequence>
                            <xsd:element name="Processor" maxOccurs="unbounded" id="cd_deployer_confN100AC">
                                <xsd:annotation>
                                    <xsd:documentation>
                                        <p>Defines one Processor used by this Content Deployer.</p>
                                    </xsd:documentation>
                                </xsd:annotation>
                                <xsd:complexType>
                                    <xsd:sequence>
                                        <xsd:element name="Module" maxOccurs="unbounded" id="cd_deployer_confN100BD">
                                            <xsd:annotation>
                                                <xsd:documentation>
                                                    <p>Defines a module that, normally, delegates content to the Content Broker. The Module is triggered by the Processor to process incoming instructions.</p>
                                                </xsd:documentation>
                                            </xsd:annotation>
                                            <xsd:complexType>
                                                <xsd:sequence>
                                                    <xsd:any namespace="##any" processContents="skip" minOccurs="0" maxOccurs="unbounded"/>
                                                </xsd:sequence>
                                                <xsd:attribute name="Type" type="xsd:string" use="required">
                                                    <xsd:annotation>
                                                        <xsd:documentation>
                                                            <p>Must be unique and serves as a symbolic identifier for this Module. For example,
                                                                <code>PageDeploy</code>.
                                                            </p>
                                                        </xsd:documentation>
                                                    </xsd:annotation>
                                                </xsd:attribute>
                                                <xsd:attribute name="Class" type="xsd:string" use="required">
                                                    <xsd:annotation>
                                                        <xsd:documentation>
                                                            <p>Defines the implementation (Java class) used to execute the Module. For example,
                                                                <code>com.tridion.deployer.modules.PageDeploy</code>.
                                                            </p>
                                                        </xsd:documentation>
                                                    </xsd:annotation>
                                                </xsd:attribute>
                                            </xsd:complexType>
                                        </xsd:element>
                                    </xsd:sequence>
                                    <xsd:attribute name="Action" type="xsd:string" use="required">
                                        <xsd:annotation>
                                            <xsd:documentation>
                                                <p>Determines how the Content Deployer triggers the Processor to process an incoming Transport Package.</p>
                                            </xsd:documentation>
                                        </xsd:annotation>
                                    </xsd:attribute>
									<xsd:attribute name="Phase" use="optional">
										<xsd:annotation>
											<xsd:documentation><p>Defines in which processing phase this processor is active. Defaults to the value 'processing' if omitted.</p></xsd:documentation>
										</xsd:annotation>
										<xsd:simpleType>
											<xsd:restriction base="xsd:string">
												<xsd:enumeration value="pre-processing">
													<xsd:annotation>
														<xsd:documentation><p>The Processor is active during pre-processing.</p></xsd:documentation>
													</xsd:annotation>
												</xsd:enumeration>
												<xsd:enumeration value="processing">
													<xsd:annotation>
														<xsd:documentation><p>The Processor is active during processing.</p></xsd:documentation>
													</xsd:annotation>
												</xsd:enumeration>
												<xsd:enumeration value="post-processing">
													<xsd:annotation>
														<xsd:documentation><p>The Processor is active during post-processing.</p></xsd:documentation>
													</xsd:annotation>
												</xsd:enumeration>
												<xsd:enumeration value="pre-transaction">
													<xsd:annotation>
														<xsd:documentation><p>The Processor is active during pre-transaction.</p></xsd:documentation>
													</xsd:annotation>
												</xsd:enumeration>
												<xsd:enumeration value="post-transaction">
													<xsd:annotation>
														<xsd:documentation><p>The Processor is active during post-transaction.</p></xsd:documentation>
													</xsd:annotation>
												</xsd:enumeration>
											</xsd:restriction>
										</xsd:simpleType>
									</xsd:attribute>
                                    <xsd:anyAttribute namespace="##local" processContents="skip"/>
                                </xsd:complexType>
                            </xsd:element>
                        </xsd:sequence>
                    </xsd:complexType>
                </xsd:element>
                <xsd:element name="Queue" minOccurs="1" id="cd_deployer_confN1015E">
                    <xsd:annotation>
                        <xsd:documentation>
                            <p>The location from which the Content Deployer picks up and processes incoming packages</p>
                        </xsd:documentation>
                    </xsd:annotation>
                    <xsd:complexType>
                        <xsd:sequence minOccurs="1" maxOccurs="unbounded">
                            <xsd:element name="Location" id="cd_deployer_confN10171">
                                <xsd:complexType>
                                    <xsd:attribute name="Path" type="xsd:string">
                                        <xsd:annotation>
                                            <xsd:documentation><p>The path to the location where the Content Deployer checks for incoming packages, and where it stores notifications</p></xsd:documentation>
                                        </xsd:annotation>
                                    </xsd:attribute>
                                    <xsd:attribute name="WindowSize" type="xsd:integer">
                                        <xsd:annotation>
                                            <xsd:documentation><p>The amount of packages the Content Deployer allows to be in the queue</p></xsd:documentation>
                                        </xsd:annotation>
                                    </xsd:attribute>
                                    <xsd:attribute name="MaximumRetries" type="xsd:integer">
                                        <xsd:annotation>
                                            <xsd:documentation><p>The maximum number of times that the Content Deployer retries if the package failed</p></xsd:documentation>
                                        </xsd:annotation>
                                    </xsd:attribute>
                                    <xsd:attribute name="Workers" type="xsd:integer">
                                        <xsd:annotation>
                                            <xsd:documentation><p>The maximum number of threads that the Content Deployer starts in order to process incoming packages. This number must be lower than, or equal to, the pool size configured in the Storage Layer configuration.</p></xsd:documentation>
                                        </xsd:annotation>
                                    </xsd:attribute>
                                    <xsd:attribute name="Interval" use="optional" type="timespec">
                                        <xsd:annotation>
                                            <xsd:documentation><p>The interval (in milliseconds) used when polling</p></xsd:documentation>
                                        </xsd:annotation>
                                    </xsd:attribute>
                                    <xsd:attribute name="Cleanup" type="xsd:string" use="optional">
                                        <xsd:annotation>
                                            <xsd:documentation>
                                                <p>Set to
                                                    <code>true</code>
                                                    to empty the Work Folder when the Transport Package is finished processing. If you do not want to empty the folder, set to
                                                    <code>false</code>.
                                                </p>
                                            </xsd:documentation>
                                        </xsd:annotation>
                                    </xsd:attribute>
                                </xsd:complexType>
                            </xsd:element>
                        </xsd:sequence>
                    </xsd:complexType>
                </xsd:element>
                <xsd:element name="HTTPSReceiver" minOccurs="0" id="cd_deployer_confN101BD">
                    <xsd:annotation>
                        <xsd:documentation>
                            <p>The HTTPS Receiver is configured separately as it can run independently of the Content Deployer. The Receiver receives incoming packages and handles requests for files from transport.</p>
                        </xsd:documentation>
                    </xsd:annotation>
                    <xsd:complexType>
                        <xsd:attribute name="MaxSize" use="required" type="xsd:integer">
                            <xsd:annotation>
                                <xsd:documentation><p>The maximum size of a package, in bytes.</p></xsd:documentation>
                            </xsd:annotation>
                        </xsd:attribute>
                        <xsd:attribute name="Location" use="required" type="xsd:string">
                            <xsd:annotation>
                                <xsd:documentation><p>The location in which the HTTPS Receiver stores incoming  packages and checks for requested files.</p></xsd:documentation>
                            </xsd:annotation>
                        </xsd:attribute>
                        <xsd:attribute name="InProcessDeploy" type="xsd:boolean">
                            <xsd:annotation>
                                <xsd:documentation><p>If set to <code>true</code>, the Content Deployer runs inside the HTTPS Receiver process; otherwise, it runs outside of the Web application.</p></xsd:documentation>
                            </xsd:annotation>
                        </xsd:attribute>
                    </xsd:complexType>
                </xsd:element>
                <xsd:element name="License" minOccurs="0" id="cd_deployer_confN101F1">
                    <xsd:annotation>
                        <xsd:documentation>
                            <p>Specifies the location of the Transport Service license file. Without a license file, the Content Deployer will not work.</p>
                        </xsd:documentation>
                    </xsd:annotation>
                    <xsd:complexType>
                        <xsd:attribute name="Location" type="xsd:string" use="required">
                            <xsd:annotation>
                                <xsd:documentation>
                                    <p>The full path and filename of the Transport Service license file.</p>
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:attribute>
                    </xsd:complexType>
                </xsd:element>
                <xsd:element name="TCDLEngine" minOccurs="0" maxOccurs="1" id="cd_deployer_confN10211">
                    <xsd:annotation>
                        <xsd:documentation>
                            <p>A custom configuration for the SDL Web Content Delivery Language Engine, or TCDL Engine. TCDL is SDL Web's custom, platform-independent language, which Content Delivery transforms into either ASP, JSP or ASP.NET script code.</p>
                            <p>Normally, the TCDL Engine requires no custom configuration. Only specify a custom configuration for the TCDL Engine if you have a pressing reason to do so.</p>
                        </xsd:documentation>
                    </xsd:annotation>
                    <xsd:complexType>
                        <xsd:sequence>
                            <xsd:element name="DocumentBuilder" minOccurs="0" maxOccurs="1" id="cd_deployer_confN10226">
                                <xsd:annotation>
                                    <xsd:documentation>
                                        <p>Specifies an alternative implementation of the DocumentBuilder that is responsible for generating the final output document</p>
                                    </xsd:documentation>
                                </xsd:annotation>
                                <xsd:complexType>
                                    <xsd:attribute name="Class" type="xsd:string" use="required">
                                        <xsd:annotation>
                                            <xsd:documentation>
                                                <p>Fully qualified name of a custom Java class to replace the built-in implementation of the DocumentBuilder</p>
                                            </xsd:documentation>
                                        </xsd:annotation>
                                    </xsd:attribute>
                                </xsd:complexType>
                            </xsd:element>
                            <xsd:element name="Properties" minOccurs="0" maxOccurs="1" id="cd_deployer_confN10247">
                                <xsd:annotation>
                                    <xsd:documentation>
                                        <p>Specifies a set of properties that control the code generation. The Content Delivery platform itself supports the following public properties:</p>
                                        <ul>
                                            <li>
                                                The
                                                <code>tcdl.dotnet.style</code>
                                                property with the value
                                                <code>controls</code>
                                            </li>
                                            <li>
                                                The
                                                <code>tcdl.jsp.style</code>
                                                property with the value
                                                <code>tags</code>
                                            </li>
                                        </ul>
                                        <p>Both properties control the style of code that is generated for JSP and ASP.NET. When set, these properties cause the generate code to use tags (JSP) or Server Controls (ASP.NET).</p>
                                        <p>Additional SDL Web products may specify TCDL tag libraries that define further properties.</p>
                                    </xsd:documentation>
                                </xsd:annotation>
                                <xsd:complexType>
                                    <xsd:sequence>
                                        <xsd:element name="Property" minOccurs="0" maxOccurs="unbounded" id="cd_deployer_confN10274">
                                            <xsd:annotation>
                                                <xsd:documentation>
                                                    <p>A named property for TCDL.</p>
                                                </xsd:documentation>
                                            </xsd:annotation>
                                            <xsd:complexType>
                                                <xsd:attribute name="Name" type="xsd:string" use="required">
                                                    <xsd:annotation>
                                                        <xsd:documentation>
                                                            <p>The name of this property.</p>
                                                        </xsd:documentation>
                                                    </xsd:annotation>
                                                </xsd:attribute>
                                                <xsd:attribute name="Value" type="xsd:string" use="required">
                                                    <xsd:annotation>
                                                        <xsd:documentation>
                                                            <p>The value of this property.</p>
                                                        </xsd:documentation>
                                                    </xsd:annotation>
                                                </xsd:attribute>
                                            </xsd:complexType>
                                        </xsd:element>
                                    </xsd:sequence>
                                </xsd:complexType>
                            </xsd:element>
                            <xsd:element name="Tags" minOccurs="0" maxOccurs="1" id="cd_deployer_confN102A7">
                                <xsd:annotation>
                                    <xsd:documentation>
                                        <p>
                                            Defines tags and their handlers. When this element is not specified, TCDL uses the default set of tags and handlers. If you specify this element, you must define all default tags and handlers explicitly.
                                        </p>
                                    </xsd:documentation>
                                </xsd:annotation>
                                <xsd:complexType>
                                    <xsd:sequence>
                                        <xsd:element name="Tag" minOccurs="0" maxOccurs="unbounded" id="cd_deployer_confN102B9">
                                            <xsd:annotation>
                                                <xsd:documentation>
                                                    <p>A tag definition for TCDL.</p>
                                                </xsd:documentation>
                                            </xsd:annotation>
                                            <xsd:complexType>
                                                <xsd:sequence>
                                                    <xsd:element name="Handler" minOccurs="1" maxOccurs="unbounded" id="cd_deployer_confN102CB">
                                                        <xsd:annotation>
                                                            <xsd:documentation>
                                                                <p>Handler for this tag</p>
                                                            </xsd:documentation>
                                                        </xsd:annotation>
                                                        <xsd:complexType>
                                                            <xsd:attribute name="Class" type="xsd:string" use="required">
                                                                <xsd:annotation>
                                                                    <xsd:documentation>
                                                                        <p>The Java class that implements the tag handler</p>
                                                                    </xsd:documentation>
                                                                </xsd:annotation>
                                                            </xsd:attribute>
                                                            <xsd:attribute name="AllowCodeBlock" type="xsd:string" use="optional">
                                                                <xsd:annotation>
                                                                    <xsd:documentation>
                                                                        <p>For tags that generate code inside a code block, set this attribute to
                                                                            <code>false</code>
                                                                            to prevent the tag from generating the code block markers.
                                                                        </p>
                                                                    </xsd:documentation>
                                                                </xsd:annotation>
                                                            </xsd:attribute>
                                                        </xsd:complexType>
                                                    </xsd:element>
                                                </xsd:sequence>
                                                <xsd:attribute name="Namespace" type="xsd:string" use="required">
                                                    <xsd:annotation>
                                                        <xsd:documentation>
                                                            <p>Namespace for this tag</p>
                                                        </xsd:documentation>
                                                    </xsd:annotation>
                                                </xsd:attribute>
                                                <xsd:attribute name="Name" type="xsd:string" use="required">
                                                    <xsd:annotation>
                                                        <xsd:documentation>
                                                            <p>The name of this tag.</p>
                                                        </xsd:documentation>
                                                    </xsd:annotation>
                                                </xsd:attribute>
                                            </xsd:complexType>
                                        </xsd:element>
                                    </xsd:sequence>
                                </xsd:complexType>
                            </xsd:element>
                            <xsd:element name="TagBundle" minOccurs="0" maxOccurs="unbounded" id="cd_deployer_confN10322">
                                <xsd:annotation>
                                    <xsd:documentation>
                                        <p>
                                            Specifies a tag bundle. A tag bundle is a JAR file containing a set of tags and a configuration file that defines the tags. This JAR file must be on the classpath.
                                            Use this element to add the tags in this JAR file to the TCDL Engine.
                                        </p>
                                        <p>
                                            The configuration file in this JAR follows the same format as the TCDLEngine configuration here, except that it may only contains the
                                            <code>Tags</code>
                                            and
                                            <code>Properties</code>
                                            elements
                                        </p>
                                    </xsd:documentation>
                                </xsd:annotation>
                                <xsd:complexType>
                                    <xsd:attribute name="Resource" type="xsd:string" use="required">
                                        <xsd:annotation>
                                            <xsd:documentation>
                                                <p>A reference to the configuration file for the tag bundle. The file must be present on the classpath, e.g. loadable as a resource.</p>
                                            </xsd:documentation>
                                        </xsd:annotation>
                                    </xsd:attribute>
                                </xsd:complexType>
                            </xsd:element>
                        </xsd:sequence>
                        <xsd:attribute name="CodeStartMarker" type="xsd:string" use="optional">
                            <xsd:annotation>
                                <xsd:documentation>
                                    <p>Specifies an alternative marker to use for opening a code block</p>
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:attribute>
                        <xsd:attribute name="CodeEndMarker" type="xsd:string" use="optional">
                            <xsd:annotation>
                                <xsd:documentation>
                                    <p>Specifies an alternative marker to use for closing a code block</p>
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:attribute>
                    </xsd:complexType>
                </xsd:element>
                <xsd:element name="RMIChannel" minOccurs="0" id="cd_deployer_confN1036D">
                    <xsd:annotation>
                        <xsd:documentation>
                            <p>RMI listener port.</p>
                        </xsd:documentation>
                    </xsd:annotation>
                    <xsd:complexType>
                        <xsd:attribute name="ListenerPort" type="xsd:short" use="required"/>
                    </xsd:complexType>
                </xsd:element>
            </xsd:sequence>
            <xsd:attribute name="Version" type="xsd:decimal" use="required">
                <xsd:annotation>
                    <xsd:documentation>
                        <p>The version of this Content Delivery Deployer configuration file. This must be set to your Content Delivery version (without specifying a service pack), e.g. "7.0".</p>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="LegacyTransport" type="xsd:boolean" use="optional"/>
        </xsd:complexType>
    </xsd:element>
  <xsd:simpleType name="timespec">
    <xsd:annotation>
      <xsd:documentation>
        A time period expressed as a number followed by 'h' for hours, 'm' for minutes, or 's' for seconds. For example: 10m.
      </xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:string">
      <xsd:pattern value="[0-9]+[a-zA-Z]+"/>
    </xsd:restriction>
  </xsd:simpleType>
</xsd:schema>